doctype html

html()
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width initial-scale=1")

        meta(http-equiv="X-UA-Compatible" content="ie=edge")/
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")/
        title
            block title
                | Example page

        //- link(rel="stylesheet" href="/site-specific/timetracking.digital-consulting.ru/css/frontend.min.css?v20210228-1224")
        //- meta(name="format-detection" content="telephone=no")/
        //- meta(name="referrer" content="always")/
        block meta

    body
      | This is 404

